#wrapperBottomFrame
  #bottomFrame
    #leftBottom
      %iframe#leftBottomFrame{:src=>"jsmolIFrame",:scrolling=>"yes"}
      %iframe#downRightBottomFrame{:src=>"sequenceIFrame",:scrolling=>"yes"}
    #rightBottom
      %div#topnav3
        %a.nostyle.menu{:id=>"menu_views_link", :style=>"cursor:pointer;font-weight:bold;"}
          %span VIEW
        %table#menu_views_table
          %tr
            %td 
              %a.nostyle{:id=>"proteomic_view", :style=>"cursor:pointer;"}PROTEIN VIEW
          %tr
            %td 
              %a.nostyle{:id=>"analysis_view", :style=>"cursor:pointer;"}ANALYSIS VIEW
          %tr
            %td
              %a.nostyle{:id=>"genomic_view", :style=>"cursor:pointer;"}GENE VIEW
          %tr
            %td
              %a.nostyle{:id=>"ppi_view", :style=>"cursor:pointer;", :title=>"Protein-Protein Interaction View"}PPI VIEW

      #proteomic_panel
        %div#topnav_proteomic_about 
          %a.nostyle.menu{:href=>"https://drive.google.com/file/d/1S7YK4h1sbZd3PrqDui2fwq2sOS_lvb6g/view?usp=sharing", :target=>"_blank",:style=>"cursor:pointer;font-weight:bold;padding:26px"}
            ABOUT The Annotations
        %div#topnav_proteomic.topnav2
          %a.nostyle.menu{:id=>"menu_options_link", :style=>"cursor:pointer;font-weight:bold;"}
            %span TOOLS
          %table.menu_options_table
            %tr
              %td 
                %a.nostyle{:id=>"upload_annotations", :style=>"cursor:pointer;"}UPLOAD CUSTOM ANNOTATIONS
            %tr
              %td
                %a.nostyle{:id=>"import_similars", :style=>"cursor:pointer;"}TRANSFER ANNOTATIONS FROM SIMILAR PROTEINS
            %tr
              %td
                %a.nostyle{:id=>"delete_features", :style=>"cursor:pointer;"}DELETE CUSTOM ANNOTATION
        %iframe#upRightBottomFrame{:src=>"annotationsIFrame",:scrolling=>"yes"}
      #genomic_panel
        %iframe#genomicFrame{:src=>"genomicIFrame",:scrolling=>"yes"}
      #ppi_panel
        %div#topnav_ppi.topnav2
          %a.nostyle.menu{:id=>"menu_options_link", :style=>"cursor:pointer;font-weight:bold;"}
            %span FEATURES 
          %table.menu_options_table
            %tr
              %td.row_title
                %span  GENOMIC VARIANTS & DISEASES
            %tr
              %td 
                %a.nostyle{:id=>"variant_analysis", :style=>"cursor:pointer;"}DISPLAY VARIANTS
            %tr
              %td.row_title
                %span POST-TRANSLATIONAL MODIFICATIONS
            %tr
              %td 
                %a.nostyle{:id=>"ptm_analysis", :style=>"cursor:pointer;"}DISPLAY PTMs
            %tr
              %td.row_title
                %span DISPLAY PROTEIN DOMAINS
            %tr
              %td 
                %a.nostyle{:id=>"pfam_analysis", :style=>"cursor:pointer;"}PFAM DOMAINS
            %tr
              %td 
                %a.nostyle{:id=>"interpro_analysis", :style=>"cursor:pointer;"}INTERPRO DOMAINS
            %tr
              %td 
                %a.nostyle{:id=>"smart_analysis", :style=>"cursor:pointer;"}SMART DOMAINS
            %tr
              %td.row_title
                %span IMMUNE EPITOPES
            %tr
              %td 
                %a.nostyle{:id=>"epitopes_analysis", :style=>"cursor:pointer;"}DISPLAY EPITOPES
            %tr
              %td.row_title
                %span SHORT LINEAR MOTIFS
            %tr
              %td 
                %a.nostyle{:id=>"elms_analysis", :style=>"cursor:pointer;"}DISPLAY LINEAR MOTIFS
            -if @external_annotations then
              %tr
                %td.row_title
                  %span CUSTOM ANNOTATIONS
              %tr
                %td 
                  %a.nostyle{:id=>"ppi_custom_annotations", :style=>"cursor:pointer;"}DISPLAY UPLOADED DATA

        %iframe#ppiFrame{:name=>"ppiFrame",:src=>"ppiIFrame",:scrolling=>"yes"}
      #analysis_panel
        %iframe#analysisFrame{:name=>"analysisFrame",:src=>"analysisIFrame",:scrolling=>"yes"}

:javascript
  #{@log}
