div#upload_form {

  padding:50 0 50 25;

  position:fixed;
  right:45;
  top:50;
  min-height:200px;
  min-width: 900;
  width:-moz-calc(900px);
  width:calc(900px);
  z-index:1000;

  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#666666;
  background-color:#FFFFFF;
  border-style: dotted;
  border-width: 1px;
  border-color: #666666;
  overflow:auto;
}

div#upload_form input{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
}

div#upload_form button{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
}

div#upload_form div.upload_text{
  font-size:14px;
}

div#upload_form div.close{
  position:absolute;
  right:10px;
  top:5px;
  font-size:10px;
  color:#074987;
}

div#upload_form div.close:hover{
  cursor:pointer;
  color:#96C8C8;
}

div#upload_form table{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#666666;
}

div#upload_form table tr td{
  padding-right:10px;
}

div#upload_form table tr td select{
  height:25px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
}

div#upload_form table tr td input{
  height:25px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
}

div#upload_form table tr td input.short{
  width:40px;
}
