body{
	background-color:#E9E9E9;
	margin:0px;
}

div.wait_div {
	text-align:center;
}

div.wait_div h1{
	color:grey;
	margin:0 0 50 0;
}

.waiting_gif{
	text-align:center;
}

.intro_text{
	margin:50 0 50 0;
}

.intro_text span{
	cursor:pointer;
	color:#074987;
	//font-weight:bold;
}

.intro_text span:hover{
	color:#96C8C8;
	//font-weight:bold;
}

.main_div{
	font-size:1em;
	text-align: justify;
	line-height:150%;
}

.main_div h3{
	color:#666666;
}

.main_div form h3 {
	margin-bottom:2px;
	font-size:0.9em;
}

.main_div form h4 {
  margin-top:2px;
  margin-bottom: 11px;
  font-size: 0.8em;
  color:#666666;
}

.start_panel{
	width:100%;
	/*height:100%;*/
	margin:auto;
	margin-top:5px;
	margin-bottom:5px;
	border: 1px solid #A6A6A6;
	background-color:rgb(255, 255, 255);
	font-family: tahoma,Arial,Verdana,sans-serif,Helvetica;
}

/*#topnav_div{
  width:750;
  margin:auto;
}*/

.first_step_form{
  color:#666666;
  font-size:12px;
  font-weight:bold;
  border: 1px solid #A6A6A6;
  padding:20 100 20 100;
}

div.uniprot_selection_container_div{
  padding-bottom:10px;
  margin-bottom:20px;
  border-bottom:1px solid #E9E9E9;

  padding-top:10px;
  margin-top:10px;
  border-top:1px solid #E9E9E9;
}

div.uniprot_selection_div {
  max-height:200px;
  overflow:auto;
  direction:rtl; 
  padding-left:50px;

}

div.uniprot_selection_div > div {
  direction:ltr; 
}

table.uniprot_selection_table{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#074987;
  width:100%;
}

table.uniprot_selection_table thead{
  text-align:left;
}

table.uniprot_selection_table tr th{
  padding-bottom:15px;
  color:#666666;
}

table.uniprot_selection_table tr:hover{
  background-color:#F6F6F6;
}

table.uniprot_selection_table tr td {
  white-space: nowrap; text-overflow:ellipsis; overflow: hidden;
  max-width:1px;
  padding-right:20px;
}

table.uniprot_selection_table tr td a:hover{
  color:red;
}

.start_inner_panel {
	padding:0 100 0 100;
	/*height:100%;*/
}

.title_container{
	margin-left:10px;
	padding-top:20px;
}

.biocomp{
	padding:30 0 0 10;
	font-size:1.1em;
}

.biocomp span{
	cursor:pointer;
	color:#074987;
	//font-weight:bold;
}

.biocomp span:hover{
	color:#96C8C8;
	//font-weight:bold;
}

.can_pathway {
	background:grey;	/*host-dependent*/
	height:30px;
	margin:0;
	padding:5px 0 0;
	text-align:left;
	width:100%;
	margin-bottom:1em;
}

.options_div{
	margin:30 0 10 0;
	width:750px;
	position:relative;
	right:50px;
}

.options_div table {
	width:100%;
	height:60px;
	/*background-color: #009933;
	border-collapse: collapse;*/
}

.options_div table tr td{
	text-align:center;
	font-size:1.1em;
	font-weight:bold;
	color:#f2f2f2;
	background-color: #074987;
	width:20%;
	border-top: 10px solid rgb(252, 252, 252);
	border-bottom: 10px solid rgb(252, 252, 252);
	padding: 0 0 0 0;
	
}

.options_div table tr td span:hover{
	/*color:rgb(50,100,100);*/
	color:#96C8C8;
	cursor:pointer;
}

.footer_div {
	padding-top:5px;
	height:50px;
} 

.footer_div div {
	text-align:center;
	color:#666666;
	font-size:0.7em;
	margin:0 0 2 0px;
}

.footer_div div a {
	text-decoration: none;
	color: #074987;
}

.footer_div div a:hover {
	color:#96C8C8; 
}

.menu_div{
	display:none;
}

.home_div{
	display:block;
}



/*.dimero_title{
	height:100px;
	padding-left:70px;
	background:transparent url('/DOGMA/IMG/h80_dimero_enhanced.png') no-repeat scroll left top;
}

.dimero_text {
	font-size:54px;
	//font-family: Arial, Helvetica, sans-serif;
	font-family: Monospace;
}*/



.option_container {
}

.option_container td {
	vertical-align:middle;
}

.option_text{
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.2em;
	position:relative;
	top:5px;
}

.option_text a {
	text-decoration:none;
	cursor: pointer;
	color: #FF4C4C;
}

.option_text a:hover {
	color:#800000;
}

.new_session {
   background:transparent url('/DOGMA/IMG/new_session.png') no-repeat scroll center center;
   height: 50px;
   width: 50px;
}

.new_session:hover {
   background-image: url('/DOGMA/IMG/new_session_hover.png');
   cursor:pointer;
}

.restore_session {
   background:transparent url('/DOGMA/IMG/new_session.png') no-repeat scroll left center;
   height: 50px;
   width:255px;
   margin:20 0 0 20;
}

.restore_session:hover {
   background-image: url('/DOGMA/IMG/new_session_hover.png');
   cursor:pointer;
}



.intro_text a {
	text-decoration:none;
	color:#074987;
}

.intro_text a:hover {
	color:#96C8C8;
}

.waiting_gif h2 {
	color: #666;
	margin:50 0 50 0;
}

.waiting_gif h3 {
	color: #666;
	margin:50 0 50 0;
}

div.help_text {
	width:100%;
	/*background-color: #F9F9F9;*/
	text-align : justify;
	padding:0 5 0 5;
}
div.section h3 {
	font: bold 14px tahoma, Arial, Verdana, sans-serif, Helvetica;
	color: #666;
	margin: 0px;
	padding: 50 0 10 0;
}

div.index_help{
	border-bottom: 1px solid #A6A6A6;
}

.index_help a {
	text-decoration: none;
	font: 12px tahoma, Arial, Verdana, sans-serif, Helvetica;
	color: #2F4790;
}

.index_help a:hover {
	color:#800000;
}

div.section {
	font-size: 12px;
	color: #666;
}

div.section a {
	text-decoration: none;
	color: #2F4790;
}

div.section a:hover {
	color:#800000;
}

.section h5{
	margin:0 0 0 0;
}

a.example {
	text-decoration: none;
	font: 12px tahoma, Arial, Verdana, sans-serif, Helvetica;
	color: #FF4C4C;
}

a.example:hover {
	cursor:pointer;
	color:#800000;
}
