#viewer-selector {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    width: 100%;
    position: absolute; /*don't hesitate, parent div is "relative" not "static"*/
    margin-top: 1.25em;
    padding: 0 1.25em;
    z-index: 500;
    display: flex;
    box-sizing: border-box;
}

.status {
    display: flex;
    align-items: center;
}

.db {
    display: flex;
    justify-content: space-between;
}

.selection {
    display: flex;
}

.selection .unselected {
    background-color: #eee;
}

.selection .selected {
    background-color: #ccc;
}

.selection-main-container {
    display: flex;
    column-gap: 1.25rem;
}

.db-item-main {
    display: flex;
    align-items: center;
    column-gap: 0.625rem;
}

.db-item-main .label-main {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}

.db-item-main .MuiIconButton-root {
    background: #8d8d8d;
    color: #fff;
    padding: 6px;
}

.db-item-main .label-main .label {
    color: #123546;
    font-weight: 700;
    line-height: 1;
}

.db-item-main .label-main .id {
    color: #123546;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1;
}

#viewer-selector .status button,
.selectors button {
    height: fit-content;
    display: inline-flex;
    align-items: center;
}

.selectors {
    display: flex;
    align-items: center;
}

.selectors .close {
    background-color: #747474;
}

.selection .selected,
.selection .unselected {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-right: 4px;
}

.selection .unselected {
    background-color: #dcdcdc;
    border: solid 1px #979797;
    color: #979797;
}

.selection .selected {
    background-color: #d8d8d8;
    border: solid 1px #575757;
    color: #575757;
}

.selection .selected .MuiIconButton-root,
.selection .unselected .MuiIconButton-root {
    padding: 4px;
}

.selection .selected .MuiSvgIcon-root,
.selection .unselected .MuiSvgIcon-root {
    font-size: 1.2rem;
}

.selection .unselected .MuiSvgIcon-root {
    color: #979797;
}
