body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow:hidden;
}

body:hover{
  overflow:auto;
}

div.jsonp_info{
  position:fixed;
  width:400px;
  height:200px;
  top:40%;
  left:-moz-calc(50% - 200px);
  left:calc(50% - 200px);
  z-index:1000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#666666;
  text-align: center;
  background-color:#FFFFFF;
  border-style: solid;
  border-width: 4px;
  border-color: #999999;
  border-radius: 15px;
}

div.jsonp_info div{
  margin-top:80px;
}

