div.annotaion_filter{
  text-align:left;
  position:absolute;
  top:0px;
  left:5px;
  z-index:1000000;
  /*border:1px solid #FFFFFF;*/
  padding:5 5 5 5;

  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #606060;

}

div.title_filter {
  font-weight:bold;
  color: #999999;
}

div.title_filter span{
  cursor:pointer;
}


div.annotaion_filter:hover {
  border:1px solid #C3C3C3;
  background:white;
  max-height:90%;
  overflow-x:auto;
  width:35%;
}

div.item_filter {
  padding-top:10px;
  display:none;
}

div.item_filter span {
  cursor:pointer;
  font-size: 10px;
  letter-spacing:1px;
}

div.item_filter span:hover {
  font-weight:bold;
}

div.item_filter::before{
  content:"\25CB  ";
}

div.item_filter:hover::before{
  content:"\25CF  ";
}

div.item_clicked{
  font-weight:bold;
}

div.item_clicked::before{
  content:"\25CF  ";
}

div.annotaion_filter:hover div ~ .item_filter{
  display:block;
}

.axis line {
  stroke-opacity: 0.6;
  shape-rendering: crispEdges;
}


div#interface_div{
  position:absolute;
  display: table;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(255, 255, 255, 0.7);
}

div#interface_div div{
  display: table-cell;
  vertical-align: middle;
  padding-left:8%;
}

div#interface_div div div{
  position:relative;
  background-color:#fff;
  width:800px;
  padding:30 5 30 45;
  border:1px solid #C3C3C3;
}

p#close_interface {
  position:absolute;
  right:12;
  top:-8;
  cursor:pointer;
}
