.d-flex.d-sm-flex.d-md-flex.d-lg-flex.d-xl-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center.justify-content-xl-center
  .row
    .col
      #mainAlert.alert.alert-warning{:role => "alert"}
        %span
          %em #{wip_texts[:title]}. #{wip_texts[:subtitle]}.
