body {
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

button {
    font-weight: 700;
    padding: 6px 10px;
    margin-left: 10px;
    color: #ffffff;
    background-color: #123546;
    border-radius: 8px;
    border: solid 0px #123546;
}

button::hover,
button::active,
button::focus {
    background-color: #268bbe;
    border: solid 0px #268bbe;
}

#contents {
    position: absolute;
    left: 0px;
    width: 33%;
    height: 100%;
    border: 1px solid rgb(77, 77, 77);
}

.msp-plugin .msp-layout-standard-outside .msp-layout-bottom {
    top: auto;
    bottom: 0px;
}

.msp-plugin .msp-layout-expanded {
    position: unset;
}

#viewer {
    display: flex;
    height: 100vh;
}

#left {
    width: 33%;
    position: relative;
}

#right {
    width: 67%;
    overflow: auto;
}

.contents {
    margin-bottom: 10px;
}

.category-label {
    background-color: #e2e2e2;
}

.category-label:hover,
.protvistaRow.expanded > .category-label {
    background-color: #607d8b;
    color: #fff;
}

.category-label:hover::before {
    border-left: 5px solid #fff;
}

.protvistaRow.expanded > .category-label::before {
    border-top: 5px solid #fff;
}

.track-label,
.track-content {
    border-bottom: 1px solid #e2e2e2;
}

.aggregate-track-content,
.track-content-single {
    border-bottom: 1px solid #e2e2e2;
}

.track-label {
    background-color: #f7f7f7;
    padding: 0.5em 1.2em 0.5em 1.8em;
    cursor: pointer;
    position: relative;
}

.protvista-pdb {
    border: 0px;
}

.hideLabelIcon {
    position: absolute;
    right: 10px;
    top: 36%;
    font-size: 12px;
}

.labelZoomIconRight {
    color: #848a86;
    position: absolute;
    right: 48px;
    top: 34%;
}

.subtrack-help, .track-help {
    padding: 1px 0px 0px 0px;
    width: 20px;
    border-radius: 10px;
    height: 20px;
    font-weight: 600;
}

.track-help {
    color: #fff;
    border: solid 1px #fff;
    background-color: #848a86;
}

.subtrack-help {    
    position: absolute;
    right: 26px;
    top: 35%;
    background-color: rgba(0,0,0,0);
    color: #848a86;
    border: solid 1px #848a86;    
}

div[class^="pvSubtrackLabel_"] {
    width: 60%;
}

div[class^="protvistaCol"] {
    line-height: 22px;
}     

.protvista-pdb {
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

protvista-tooltip .tooltip-header,
protvista-tooltip .tooltip-header .tooltip-header-title {
    background-color: #133546;
    color: #fff;
    line-height: 2em;
}

protvista-tooltip .tooltip-header .tooltip-header-title {
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: 0.05em;
    font-size: 1em;
    line-height: 2em;
    padding: 0 0.7em;
    color: #fff;
}

protvista-tooltip .tooltip-close {
    height: 2em;
}

.protvistaToolbar {
    text-align: center;
}

.protvista-pdb {
    margin-bottom: 0px;
    padding: 20px 10px 0px 10px;
}

.protvistaResetSectionIcon {
    border: 1px solid #ffffff;
    background-color: #828181;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    text-align: center;
    width: 18px;
    height: 18px;
    line-height: 16px;
    right: 10px;
    display: none;
    padding: 0px 0px 0px 0px;
}
