a {
    color: #268bbe;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    text-decoration: underline;
}
label {
    margin-top: 1.125rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.form-control {
    display: block;
    width: 50%;
    margin-top: 0.5rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.0625rem solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 0.25);
}

.fileFormat {
    display: block;
}

.uploadSubmit {
    border-radius: 0.25rem;
    margin-top: 0.5em;
    margin-bottom: 0;
    margin-left: 0;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
}
