.d-flex.d-sm-flex.d-md-flex.d-lg-flex.d-xl-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center.justify-content-xl-center
  .container
    .contentBox
      .contentTitle
        %h4 API Documentation
      .contentData
        %div
          %iframe{:height => "800px", :src => "https://docs.google.com/document/d/e/2PACX-1vSeJnmN4DbP4Xw493RqXf8678FbJf_VTZn3MM79EKDdseiOKSbejjewjjwlx7Zipvk7qcZ8tTyXU9wu/pub?embedded=true", :style => "border: none;", :width => "100%"}
