.d-flex.d-sm-flex.d-md-flex.d-lg-flex.d-xl-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center.justify-content-xl-center
  .container
    .contentBox
      .contentTitle
        %h4 3DBionotes Cross-app
      .contentData
        %h4{:style => "margin-top: 20px;margin-bottom: 9px;"} External Annotations
        %p
          %strong> External annotations
           - Display custom annotations for a PDB, EMDB or UniProt entry
          %br>/
          https://3dbionotes.cnb.csic.es/ws/viewer/#/:id&amp;annotations_url=:url
          %br/
        %p
          \:id &gt; PDB / EMDB / UniProt (e.g. 1acb, EMD-2924, P01112)
          %br>/
          \:url &gt; URL annotations request (e.g. "https://[your_server_here].cnb.csic.es/pdb/external_annotations.json")
          %br/
        %h4{:style => "margin-top: 20px;margin-bottom: 9px;"} External Structure
        %p
          %strong> External protein struture
           - Display external structure and optional annotations
          %br>/
          https://3dbionotes.cnb.csic.es/programmatic/autofetch?url=:structure_url&amp;annotations_url=:annotations_url&amp;title=:name
        %p
          \:structure_url &gt; URL structure request (e.g. http://[your_server_here].cnb.csic.es/pdb/1ACB.pdb )
          %br>/
          \:annotations_url &gt; URL annotations request (optional, e.g. http://[your_server_here].cnb.csic.es/pdb/external_annotations.json
          )
          %br>/
          \:name &gt; STRING title of the submission (e.g. "my title")
    .contentBox
      .contentTitle
        %h4 3DBionotes API
      .contentData
        %h4{:style => "margin-top: 20px;margin-bottom: 9px;"} EMDB info
        %p
          %strong> Source
           - 
          %a{:href => "http://www.ebi.ac.uk/pdbe/api/doc/"} PDBe REST API
          %br/
        %p
          %strong> available
           - Check if a particular EMDB entry is available
          %br/
          %a{:href => "https://3dbionotes.cnb.csic.es/api/info/EMDB/available/EMD-8437"} https://3dbionotes.cnb.csic.es/api/info/EMDB/available/:emdb_id
          %br/
        %p
          %strong> size
           - Get the voxels size of a EMDB entry
          %br/
          %a{:href => "https://3dbionotes.cnb.csic.es/api/info/EMDB/size/EMD-8437"} https://3dbionotes.cnb.csic.es/api/info/EMDB/size/:emdb_id
          %br/
        %p
          %strong> data
           - Get map threshold and grid limits
          %br/
          %a{:href => "https://3dbionotes.cnb.csic.es/api/info/EMDB/data/EMD-8437"} https://3dbionotes.cnb.csic.es/api/info/EMDB/data/:emdb_id
          %br/
        %p
          %strong> title
           - Get EMDB entry title
          %br/
          %a{:href => "https://3dbionotes.cnb.csic.es/api/info/EMDB/title/EMD-8437"} https://3dbionotes.cnb.csic.es/api/info/EMDB/title/:emdb_id
          %br/
        %h4{:style => "margin-top: 20px;margin-bottom: 9px;"} UniProt info
        %p
          %strong> Source
           - 
          %a{:href => "https://www.ebi.ac.uk/proteins/api/doc/"} UniProt API
        %p
          %strong> sequence
           - Get UniProt accession sequence
          %br/
          %a{:href => "https://3dbionotes.cnb.csic.es/api/info/Uniprot/P01112"} https://3dbionotes.cnb.csic.es/api/info/Uniprot/:uniprot_acc
        %p
          %strong> title
           - Get UniProt accession title
          %br/
          %a{:href => "https://3dbionotes.cnb.csic.es/api/info/UniprotTitle/P01112"} https://3dbionotes.cnb.csic.es/api/info/UniprotTitle/:uniprot_acc
          %br/
        %h4{:style => "margin-top: 20px;margin-bottom: 9px;"} PDB info
        %p
          %strong> Source
           - 
          %a{:href => "https://www.ebi.ac.uk/pdbe/api/doc/"} PDBe REST API
          %br/
        %p
          %strong> available
           - Check if a particular PDB entry is available
          %br/
          %a{:href => "https://3dbionotes.cnb.csic.es/api/info/PDB/available/101m"} https://3dbionotes.cnb.csic.es/api/info/PDB/available/:pdb_id
          %br/
        %p
          %strong> title
           - Get PDB entry title
          %br/
          %a{:href => "https://3dbionotes.cnb.csic.es/api/info/PDB/title/101m"} https://3dbionotes.cnb.csic.es/api/info/PDB/title/:pdb_id
          %br/
        
        %h4{:style => "margin-top: 20px;margin-bottom: 9px;"} PDB mappings
        %p
          %strong> related EMDB
           - Get related EMDB where a PDB entry was used as fitting model
          %br/
          %a{:href => "https://3dbionotes.cnb.csic.es/api/mappings/PDB/EMDB/4d5n"} https://3dbionotes.cnb.csic.es/api/mappings/PDB/EMDB/:emdb_id
          %br/
        
        %h4{:style => "margin-top: 20px;margin-bottom: 9px;"} EMDB mappings
        %p
          %strong> Source
           - 
          %a{:href => "https://www.ebi.ac.uk/pdbe/api/doc/"} PDBe REST API
          %br/
        %p
          %strong> fitted PDB
           - Get fitted PDB IDs for a particular EMDB entry
          %br/
          %a{:href => "https://3dbionotes.cnb.csic.es/api/mappings/EMDB/PDB/EMD-2810"} https://3dbionotes.cnb.csic.es/api/mappings/EMDB/PDB/:emdb_id
          %br/
        
        %h4{:style => "margin-top: 20px;margin-bottom: 9px;"} UniProt mappings
        %p
          %strong> Source
           - 
          %a{:href => "https://www.ebi.ac.uk/pdbe/api/doc/"} PDBe REST API
          %br/
        %p
          %strong> UniProt to PDB structures
           - Get all the PDB structures associated to a UniProt accession
          %br/
          %a{:href => "https://3dbionotes.cnb.csic.es/api/mappings/Uniprot/PDB/P01112"} https://3dbionotes.cnb.csic.es/api/mappings/Uniprot/PDB/:uniprot_acc
          %br/
        %p
          %strong> UniProt to ENSEMBL transcripts
           - Get all the ENSEMBL transcripts associated to a UniProt accession
          %br/
          %a{:href => "https://3dbionotes.cnb.csic.es/api/mappings/Uniprot/ENSEMBL/transcript/P01112"} https://3dbionotes.cnb.csic.es/api/mappings/Uniprot/ENSEMBL/transcript/:uniprot_acc
          %br/
