.ws_main_div
  .database_form
    = form_tag({controller: "main", action: "home",anchor: "query"}, :method => :post, :multipart => true, id: "query_form",:style=>"margin-top:20px;") do 
      %h3
        COVID-19 outbreak related entries
      %br
      %table{:border => 1}
        %tbody
          %tr
            %td EMDB entries
            %td PDBe entries
          %tr
            %td
              %a{:href=>'/?queryId=EMD-21374&viewer_type=ngl&button=#query\''} 	EMD-21374 2019-nCoV spike glycoprotein with C3 symmetry imposed
            %td
              %a{:href=>'/?queryId=6LU7&viewer_type=ngl&button=#query\''} 	The crystal structure of COVID-19 main protease in complex with an inhibitor N3 (6lu7)		
          %tr
            %td
              %a{:href=>'/?queryId=EMD-21375&viewer_type=ngl&button=#query\''} 	EMD-21375 Prefusion 2019-nCoV spike glycoprotein with a single receptor-binding domain up
            %td
              %a{:href=>'/?queryId=6VSB&viewer_type=ngl&button=#query\''} 	Prefusion 2019-nCoV spike glycoprotein with a single receptor-binding domain up (6vsb)		
          %tr
            %td
              %a{:href=>'/?queryId=EMD-21452&viewer_type=ngl&button=#query\''}    EMD-21452 Structure of the SARS-CoV-2 spike glycoprotein (closed state)
            %td
              %a{:href=>'/?queryId=6LXT&viewer_type=ngl&button=#query\''} 	Structure of post fusion core of 2019-nCoV S2 subunit (6lxt)		
          %tr
            %td
              %a{:href=>'/?queryId=EMD-21457&viewer_type=ngl&button=#query\''}    EMD-21457 SARS-CoV-2 spike ectodomain structure (open state)
            %td
              %a{:href=>'/?queryId=6LVN&viewer_type=ngl&button=#query\''} 	Structure of the 2019-nCoV HR2 Domain (6lvn)		
          %tr
            %td
              %a{:href=>'/?queryId=EMD-21377&viewer_type=ngl&button=#query\''}    EMD-21377: Cryo-electron microscopy structure of mouse coronavirus spike protein complexed with its murine receptor
            %td
              %a{:href=>'/?queryId=6Y2E&viewer_type=ngl&button=#query\''} 	Crystal structure of the free enzyme of the SARS-CoV-2 (2019-nCoV) main protease (6y2e)		
          %tr
            %td
              %a{:href=>'/?queryId=EMD-0486&viewer_type=ngl&button=#query\''}    EMD-0486: Negative stain EM map of MERS 2 in complex with G2 Fab
            %td
              %a{:href=>'/?queryId=6Y2F&viewer_type=ngl&button=#query\''} 	Crystal structure (monoclinic form) of the complex resulting from the reaction between SARS-CoV-2 (2019-nCoV) main protease and tert-butyl (1-((S)-1-(((S)-4-(benzylamino)-3	4-dioxo-1-((S)-2-oxopyrrolidin-3-yl)butan-2-yl)amino)-3-cyclopropyl-1-oxopropan-2-yl)-2-oxo-1 2-dihydropyridin-3-yl)carbamate (alpha-ketoamide 13b) (6y2f)
          %tr
            %td
              %a{:href=>'/?queryId=EMD-9891&viewer_type=ngl&button=#query\''}    EMD-9891: Cryo-EM structure of spike protein of feline infectious peritonitis virus strain UU4
            %td
              %a{:href=>'/?queryId=6Y2G&viewer_type=ngl&button=#query\''} 	Crystal structure (orthorhombic form) of the complex resulting from the reaction between SARS-CoV-2 (2019-nCoV) main protease and tert-butyl (1-((S)-1-(((S)-4-(benzylamino)-3	4-dioxo-1-((S)-2-oxopyrrolidin-3-yl)butan-2-yl)amino)-3-cyclopropyl-1-oxopropan-2-yl)-2-oxo-1 2-dihydropyridin-3-yl)carbamate (alpha-ketoamide 13b) (6y2g)
          %tr
            %td
              %a{:href=>'/?queryId=EMD-20829&viewer_type=ngl&button=#query\''}    EMD-20829 MERS-CoV S structure in complex with 5-N-glycolyl neuraminic acid
            %td
              %a{:href=>'/?queryId=6VW1&viewer_type=ngl&button=#query\''} 	Structural basis for receptor recognition by the novel coronavirus from Wuhan (6vw1)		
          %tr
            %td
              %a{:href=>'/?queryId=EMD-20542&viewer_type=ngl&button=#query\''}    EMD-20542: MERS-CoV S structure in complex with 5-N-acetyl neuraminic acid
            %td
              %a{:href=>'/?queryId=6VWW&viewer_type=ngl&button=#query\''} 	Crystal Structure of NSP15 Endoribonuclease from SARS CoV-2 (6vww)		
          %tr
            %td
              %a{:href=>'/?queryId=EMD-20543&viewer_type=ngl&button=#query\''}    EMD-20543: MERS-CoV S structure in complex with sialyl-lewisX
            %td
              %a{:href=>'/?queryId=5R7Y&viewer_type=ngl&button=#query\''} 	PanDDA analysis group deposition -- Crystal Structure of COVID-19 main protease in complex with Z45617795 (5R7Y)		
          %tr
            %td
              %a{:href=>'/?queryId=EMD-20544&viewer_type=ngl&button=#query\''}    EMD-20544: MERS-CoV S structure in complex with 2,3-sialyl-N-acetyl-lactosamine
            %td
              %a{:href=>'/?queryId=5R7Z&viewer_type=ngl&button=#query\''} 	PanDDA analysis group deposition -- Crystal Structure of COVID-19 main protease in complex with Z1220452176 (5R7Z)		
          %tr
            %td
              %a{:href=>'/?queryId=EMD-20545&viewer_type=ngl&button=#query\''}    EMD-20545: MERS-CoV S structure in complex with 2,6-sialyl-N-acetyl-lactosamine
            %td
              %a{:href=>'/?queryId=5R80&viewer_type=ngl&button=#query\''} 	PanDDA analysis group deposition -- Crystal Structure of COVID-19 main protease in complex with Z18197050 (5R80)		
          %tr
            %td
              %a{:href=>'/?queryId=EMD-20668&viewer_type=ngl&button=#query\''}    EMD-20668: Cryo-EM structure of the HCoV-229E spike glycoprotein
            %td
              %a{:href=>'/?queryId=5R81&viewer_type=ngl&button=#query\''} 	PanDDA analysis group deposition &#45	&#45	 Crystal Structure of COVID-19 main protease in complex with Z1367324110 (5R81)
          %tr
            %td
              %a{:href=>'/?queryId=EMD-20527&viewer_type=ngl&button=#query\''}    EMD-20527: MERS S0 trimer in complex with antibody G2
            %td
              %a{:href=>'/?queryId=5R82&viewer_type=ngl&button=#query\''} 	PanDDA analysis group deposition &#45	&#45	 Crystal Structure of COVID-19 main protease in complex with Z219104216 (5R82)
          %tr
            %td
              %a{:href=>'/?queryId=EMD-20070&viewer_type=ngl&button=#query\''}    EMD-20070: Structural basis for human coronavirus attachment to sialic acid receptors. Apo-HCoV-OC43 S
            %td
              %a{:href=>'/?queryId=5R83&viewer_type=ngl&button=#query\''} 	PanDDA analysis group deposition &#45	&#45	 Crystal Structure of COVID-19 main protease in complex with Z44592329 (5R83)
          %tr
            %td
              %a{:href=>'/?queryId=EMD-0557&viewer_type=ngl&button=#query\''}    EMD-0557: Structural basis for human coronavirus attachment to sialic acid receptors
            %td
              %a{:href=>'/?queryId=5R84&viewer_type=ngl&button=#query\''} 	PanDDA analysis group deposition &#45	&#45	 Crystal Structure of COVID-19 main protease in complex with Z31792168 (5R84)
          %tr
            %td
              %a{:href=>'/?queryId=EMD-0520&viewer_type=ngl&button=#query\''}    EMD-0520: SARS-Coronavirus NSP12 bound to NSP7 and NSP8 co-factors
            %td
              %a{:href=>'/?queryId=6M03&viewer_type=ngl&button=#query\''} 	The crystal structure of COVID-19 main protease in apo form (6M03)		
          %tr
            %td
              %a{:href=>'/?queryId=EMD-0521&viewer_type=ngl&button=#query\''}    EMD-0521: SARS-Coronavirus NSP12 bound to NSP8 co-factor
            %td
              %a{:href=>'/?queryId=6M17&viewer_type=ngl&button=#query\''} 	The 2019-nCoV RBD/ACE2-B0AT1 complex (6M17)		
          %tr
            %td
              %a{:href=>'/?queryId=EMD-0401&viewer_type=ngl&button=#query\''}    EMD-0401: MERS-CoV complex with human neutralizing LCA60 antibody Fab fragment (state 1)
            %td
              %a{:href=>'/?queryId=6VXX&viewer_type=ngl&button=#query\''} 	Structure of the SARS-CoV-2 spike glycoprotein (closed state) (6VXX)		
          %tr
            %td
              %a{:href=>'/?queryId=EMD-0402&viewer_type=ngl&button=#query\''}    EMD-0402: MERS-CoV S complex with human neutralizing LCA60 antibody Fab fragment (state 2)
            %td
              %a{:href=>'/?queryId=6VYB&viewer_type=ngl&button=#query\''} 	TSARS-CoV-2 spike ectodomain structure (open state) (6VYB)		
          %tr
            %td
              %a{:href=>'/?queryId=EMD-0403&viewer_type=ngl&button=#query\''}    EMD-0403: SARS-CoV complex with human neutralizing S230 antibody Fab fragment (state 1)
            %td
              %a{:href=>'/?queryId=6VYO&viewer_type=ngl&button=#query\''} 	Crystal structure of RNA binding domain of nucleocapsid phosphoprotein from SARS coronavirus 2 (6VYO)		
          %tr
            %td
              %a{:href=>'/?queryId=EMD-0404&viewer_type=ngl&button=#query\''}    EMD-0404: SARS-CoV complex with human neutralizing S230 antibody Fab fragment (state 2)
            %td
              %a{:href=>'/?queryId=6W01&viewer_type=ngl&button=#query\''} 	The 1.9 A Crystal Structure of NSP15 Endoribonuclease from SARS CoV-2 in the Complex with a Citrate (6W01)		
          %tr
            %td
              %a{:href=>'/?queryId=EMD-9583&viewer_type=ngl&button=#query\''}    EMD-9583: Trypsin-cleaved SARS-CoV spike glycoprotein and ACE2 complex, ACE2-free conformation with three RBD in down position
            %td
              %a{:href=>'/?queryId=6W02&viewer_type=ngl&button=#query\''} 	Crystal Structure of ADP ribose phosphatase of NSP3 from SARS CoV-2 in the complex with ADP ribose (6W02)		
          %tr
            %td
              %a{:href=>'/?queryId=EMD-9584&viewer_type=ngl&button=#query\''}    EMD-9584: Trypsin-cleaved SARS-CoV spike glycoprotein and ACE2 complex, ACE2-free conformation with one RBD in up position
            %td
              %a{:href=>'/?queryId=6Y84&viewer_type=ngl&button=#query\''} 	COVID-19 main protease with unliganded active site (2019-nCoV	 coronavirus disease 2019	 SARS-CoV-2) (6Y84)
          %tr
            %td
              %a{:href=>'/?queryId=EMD-9585&viewer_type=ngl&button=#query\''}    EMD-9585: Trypsin-cleaved SARS-CoV spike glycoprotein and ACE2 complex, ACE2-bound conformation 1
            %td
              %a{:href=>'/?queryId=6W4H&viewer_type=ngl&button=#query\''} 	1.80 Angstrom Resolution Crystal Structure of NSP16 - NSP10 Complex from SARS-CoV-2 (6w4h)		
          %tr
            %td
              %a{:href=>'/?queryId=EMD-9586&viewer_type=ngl&button=#query\''}    EMD-9586: Trypsin-cleaved SARS-CoV spike glycoprotein and ACE2 complex, ACE2-bound conformation 2
            %td
              %a{:href=>'/?queryId=6LZG&viewer_type=ngl&button=#query\''} 	Structure of novel coronavirus spike receptor-binding domain complexed with its receptor ACE2 (6lzg)		
          %tr
            %td
              %a{:href=>'/?queryId=EMD-9587&viewer_type=ngl&button=#query\''}    EMD-9587: Trypsin-cleaved SARS-CoV spike glycoprotein and ACE2 complex, ACE2-bound conformation 3
            %td
              %a{:href=>'/?queryId=6M3M&viewer_type=ngl&button=#query\''} 	Crystal structure of SARS-CoV-2 nucleocapsid protein N-terminal RNA binding domain (6m3m)		
          %tr
            %td
            %td
              %a{:href=>'/?queryId=6W4B&viewer_type=ngl&button=#query\''} 	The crystal structure of Nsp9 replicase protein of COVID-19 (6w4b)		
          %tr
            %td
            %td
              %a{:href=>'/?queryId=6M0J&viewer_type=ngl&button=#query\''} 	Crystal structure of 2019-nCoV spike receptor-binding domain bound with ACE2 (6m0j)
          
