.d-flex.d-sm-flex.d-md-flex.d-lg-flex.d-xl-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center.justify-content-xl-center
  .container
    .contentBox
      .contentTitle
        %h4 Help contents
      .contentData.helpContents
        %div
          %iframe{:height => "800px", :src => "https://docs.google.com/document/d/e/2PACX-1vS11ylBB0USslByZQZUi0-0eB3BUlHuKulxFki_KUzsVPVRnyn7wVIKwIxu53XyCZvxsg-cTkLtMT2d/pub?embedded=true", :style => "border: none;", :width => "100%"}
