.d-flex.d-sm-flex.d-md-flex.d-lg-flex.d-xl-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center.justify-content-xl-center
  .container
    -# .contentBox
    -#   .contentData.helpContents
    -#     %p
    -#       PDF documents to learn how to use the web platform:
    -#     %ul.list-unstyled
    -#       %li
    -#         %a.d-block{:href => "#uploading"}
    -#           %i.fa.fa-file-pdf-o>
    -#           Annotate a protein structure (PDF)
    -#       %li
    -#         %a.d-block{:href => "#uploading"}
    -#           %i.fa.fa-file-pdf-o>
    -#           Transfer protein annotations (PDF)
    -#       %li
    -#         %a.d-block{:href => "#uploading"}
    -#           %i.fa.fa-file-pdf-o>
    -#           Use the contingency analysis (PDF)
    -#       %li
    -#         %a.d-block{:href => "#uploading"}
    -#           %i.fa.fa-file-pdf-o>
    -#           Use the network analysis (PDF)
    -#       %li
    -#         %a.d-block{:href => "#uploading"}
    -#           %i.fa.fa-file-pdf-o>
    -#           Upload custom annotations (PDF)
    .contentBox
      .contentTitle
        %h4 Help contents
      .contentData.helpContents
        %div
          %iframe{:height => "800px", :src => "https://docs.google.com/document/d/e/2PACX-1vS11ylBB0USslByZQZUi0-0eB3BUlHuKulxFki_KUzsVPVRnyn7wVIKwIxu53XyCZvxsg-cTkLtMT2d/pub?embedded=true", :style => "border: none;", :width => "100%"}
