= stylesheet_link_tag('webserver/home_style.css')
.ws_main_div
  .home_text
    3DBIONOTES-WS is a web application designed to automatically annotate biochemical and biomedical information onto structural models. Current sources of information include post-translational modifications, genomic variations associated to diseases, short linear motifs, immune epitopes sites, disordered regions and domain families.
  .home_image
    =image_tag("home_image_covid.png")
