#welcome.d-flex.align-items-xl-center
  .container.d-flex.align-items-center.justify-content-between
    %div
      .jumbotron
        %p
          %strong 3DBIONOTES-WS
          &nbsp;is a web application designed to automatically annotate biochemical and biomedical information onto structural models. Current sources of information include post-translational modifications, genomic
          variations associated to diseases, short linear motifs, immune epitopes sites, disordered regions and domain families.
          %br/
        %p
          %strong
            %a{:target=>"_blank",:href=>"https://academic.oup.com/bioinformatics/article/37/22/4258/6278897"}
              Cite us
              %i.fa.fa-external-link-square.ml-1.mr-0
          \,
          %a{:target=>"_blank",:title=>"Mendeley, Papers, Zotero",:href=>"https://www.google.com/url?q=https://drive.google.com/file/d/18FPCn8IIe-_tAgj-ywzqnPMkkodg2kut/view&sa=D&source=editors&ust=1648115807972514&usg=AOvVaw2IyPQDRQ2nO8PP5936EYhK"} 
            %i.fa.fa-pencil.ml-2
            %span
              \.ris
          ,
          %a{:target=>"_blank",:title=>"EndNote",:href=>"https://www.google.com/url?q=https://drive.google.com/file/d/1w3y3M26rr7ZO_EvraWUS5AsTHQmpF08Z/view&sa=D&source=editors&ust=1648115807972996&usg=AOvVaw0ASJmqHi9dohAgXDKuGNsm"} 
            %i.fa.fa-pencil.ml-2
            %span
              \.enw
          ,
          %a{:target=>"_blank",:title=>"BibText",:href=>"https://www.google.com/url?q=https://drive.google.com/file/d/1_Fa7QGAXPxaPcqqE9Zg_SU3gfvya4lOC/view&sa=D&source=editors&ust=1648115807973445&usg=AOvVaw0kluSGr4rWbKJ2k5Uyy3nu"} 
            %i.fa.fa-pencil.ml-2
            %span
              \.bibtext
          ,
          %a{:target=>"_blank",:title=>"Medlars, RefWorks",:href=>"https://www.google.com/url?q=https://drive.google.com/file/d/1IxQi8WCt_DpF1Ay9Xh1GuLFXCCG2Zd5G/view&sa=D&source=editors&ust=1648115807973840&usg=AOvVaw1A3kHCb6KO7PujZM-TuSmX"} 
            %i.fa.fa-pencil.ml-2
            %span
              \.txt
            
        %p.mt-4
          %a.cta-covid.btn.btn-primary.btn-lg{:href => ws_covid19_path, :role => "button"} CoVid-19 Edition
          %a.cta-example.btn.btn-secondary.btn-lg{"data-id" => "EMD-21375", :href => "/?queryId=EMD-21375", :role => "button", :style => "margin-left: 10px;"} Example (EMD-21375)
    %div
      #videoWrapper
        %video#welcomeVideo{:autoplay => "", :height => "auto", :loop => "", :muted => "", :width => "540"}
          %source{:src => "https://www.oyasin.es/Window-mockup-web.mp4", :type => "video/mp4"}
.d-flex.d-sm-flex.d-md-flex.d-lg-flex.d-xl-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center.justify-content-xl-center
  .container
    .searchBox
      = form_tag({controller: "main", action: "home"}, {:method => :post, :class => "search_form"}) do
        = hidden_field_tag(:viewer_type, @viewerType)
        #mainSearch.input-group.form-control-lg.md-form.form-sm.form-2.pl-0.justify-content-center
          %div.d-flex.justify-content-center.align-items-center.input-group-text
            %input#input-search.form-control.form-control-lg.my-0.amber-border{"aria-label" => "Search", :placeholder => "Uniprot accession, PDB ID, EMDB code", :name => "queryId"}/
            %button.btn.mt-0.py-2{:type => "submit", :title => "Search"}
              %i.fa.fa-search.text-grey.searchIconMain{"aria-hidden" => "true"}
    .contentBox
      .contentTitle
        %h4
          %strong Selected entries
          %br/
      .contentData
        .container-fluid.carouselContainer
          #myCarousel.carousel.slide{"data-ride" => "carousel"}
            .carousel-inner.row.w-100.mx-auto
              - @selected_entries.each_with_index do |entry, idx|
                %div{:class => ["carousel-item", "col-md-4", idx == 0 ? "active" : nil].compact}
                  .card
                    %a{:href => entry[:query_url]}
                      %img.card-img-top.img-fluid{:alt => entry[:name], :src => entry[:image_url]}/
                      .card-body
                        %h4.card-title
                          = entry[:name]
                        %p.card-text
                          = entry[:description]
            %a.carousel-control-prev{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
              %span.carousel-control-prev-icon{"aria-hidden" => "true"}
              %span.sr-only Previous
            %a.carousel-control-next{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
              %span.carousel-control-next-icon{"aria-hidden" => "true"}
              %span.sr-only Next
    .contentBox.Card2
      .d-flex.align-items-xl-center.contentData
        #CardImage.text-center{:style => "width: 50%;"}
          %img{:src => "assets/icon_molecule.svg"}/
        #CardText{:style => "width: 50%;"}
          %p
            %em The web platform 3DBionotes-WS integrates multiple web services including many biological and biomedical annotations that can be analyzed in their structural context. Periodically updated with new annotations, this platform allows the study of macromolecular structures from public databases and those generated by users as well.
            %br/
    .contentBox.Card2.Alternate
      .d-flex.flex-row-reverse.align-items-xl-center.contentData.Card2
        #CardImage-1.text-center{:style => "width: 50%;"}
          %img{:src => "assets/icon_tablet.svg"}/
        #CardText-1{:style => "width: 50%;"}
          %p
            %em The interactive web viewer of 3DBionotes shows simultaneously atomic structure, map, sequence and feature annotations for the macromolecule of interest. This unified environment  allows direct mapping of relevant biological annotations in the macromolecule conformational landscape.
            %br/
    .contentBox.Card2
      .d-flex.align-items-xl-center.contentData.Card2
        #CardImage-2.text-center{:style => "width: 50%;"}
          %img{:src => "assets/icon_share.svg"}/
        #CardText-2{:style => "width: 50%;"}
          %p
            %em For interoperability purposes, 3DBionotes-WS counts with a limited, but expanding, Application Programming Interface (API). Its purpose is to provide a convenient way to access the information we produce and collect to be processed by other third-party tools. In this regard, we are guided by FAIR principles (Findability, Accessibility, Interoperability, and Reuse).
            %br/
