#welcome.d-sm-flex.d-md-flex.d-lg-flex.d-xl-flex.align-items-md-center.align-items-lg-center.align-items-xl-center
  .container
    .jumbotron
      %p
        %strong> 3DBIONOTES-WS
        = " "
        is a web application designed to automatically annotate biochemical and biomedical information onto structural models. Current sources of information include post-translational modifications, genomic variations
        associated to diseases, short linear motifs, immune epitopes sites, disordered regions and domain families.
        %br/
      %p
        %a.btn.btn-primary.btn-lg{:href => "/covid19", :role => "button"} Go to CoVid-19
        %a.btn.btn-secondary.btn-lg{:href => "/?queryId=EMD-21375&viewer_type=ngl&button=#query", :role => "button", :style => "margin-left: 10px;"} See an example
