.d-flex.d-sm-flex.d-md-flex.d-lg-flex.d-xl-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center.justify-content-xl-center
  .container.contentBox
    .contentTitle
      %h4 Network
    .contentData
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute
        iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      %label{:style => "font-weight: bold;"} Select specie
      %form{:style => "max-width: 400px;"}
        %select.custom-select
          %optgroup{:label => "List of species"}
            %option{:value => "athaliana"} Arabidopsis thaliana
            %option{:value => "bsubtilis"} Bacillus subtilis
            %option{:value => "btaurus"} Bos taurus
            %option{:value => "celegans"} Caenorhabditis elegans
            %option{:value => "cjejuni"} Campylobacter jejuni
            %option{:value => "fly"} Drosophila melanogaster
            %option{:value => "ecoli"} Escherichia coli
            %option{:value => "hpylori"} Helicobacter pylori
            %option{:selected => "selected", :value => "human"} Homo sapiens
            %option{:value => "mouse"} Mus musculus
            %option{:value => "mtuberculosis"} Mycobacterium tuberculosis
            %option{:value => "mpneumoniae"} Mycoplasma pneumoniae
            %option{:value => "pfalciparum"} Plasmodium falciparum
            %option{:value => "rat"} Rattus norvegicus
            %option{:value => "yeast"} Saccharomyces cerevisiae
            %option{:value => "spombe"} Schizosaccharomyces pombe
            %option{:value => "ssp"} Synechocystis sp. (strain PCC 6803 / Kazusa)
            %option{:value => "tpallidum"} Treponema pallidum
        %label{:style => "font-weight: bold;"} Enter a list of UniProt accession
        %small Example
        %input.form-control.form-control-lg{:type => "text"}/
        .form-check
          %input#formCheck-1.form-check-input{:type => "radio"}/
          %label.form-check-label{:for => "formCheck-1"} Include neighbours with structural data
        %label.d-block{:style => "font-weight: bold;"} Upload your annotations
        %input{:type => "file"}/
        %button.btn.btn-primary.d-block{:type => "button"} Submit
