.d-flex.d-sm-flex.d-md-flex.d-lg-flex.d-xl-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center.justify-content-xl-center
  .container.contentBox
    .contentTitle
      %h4 Network
    .contentData
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute
        iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      %label{:style => "font-weight: bold;"} Select specie
      %form{:style => "max-width: 400px;"}
        %select.custom-select
          %optgroup{:label => "This is a group"}
            %option{:selected => "selected", :value => "12"} Homo sapiens
            %option{:value => "13"} This is item 2
            %option{:value => "14"} This is item 3
        %label{:style => "font-weight: bold;"} Enter a list of UniProt accession
        %small Example
        %input.form-control.form-control-lg{:type => "text"}/
        .form-check
          %input#formCheck-1.form-check-input{:type => "radio"}/
          %label.form-check-label{:for => "formCheck-1"} Include neighbours with structural data
        %label.d-block{:style => "font-weight: bold;"} Upload your annotations
        %input{:type => "file"}/
        %button.btn.btn-primary.d-block{:type => "button"} Submit
