.d-flex.d-sm-flex.d-md-flex.d-lg-flex.d-xl-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center.justify-content-xl-center
  .container.contentBox
    .contentTitle
      %h4 Upload your Atomic Structure
    .contentData
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute
        iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      %form{:style => "max-width: 500px;"}
        %label{:style => "font-weight: bold;"} Job Title
        %small Optional
        %input.form-control{:placeholder => "Job Title", :type => "text"}/
        %label.d-block
          Structure file in 
          %a{:href => "http://www.wwpdb.org/documentation/file-format"}
            %strong PDB
          or
          %a{:href => "http://mmcif.wwpdb.org/"}
            %strong mmCIF
          format
        %input{:type => "file"}/
        %label.d-block Upload your annotations
        %input{:type => "file"}/
        %button.btn.btn-primary.d-block{:type => "button"} Submit
