.container
  .row.text-center
    .col-12.col-sm-10.col-lg-8.offset-sm-1.offset-lg-2.errorMain
      .row
        .col-12.col-sm-10.col-lg-8.offset-sm-1.offset-lg-2
          %h3.m-0 Internal Server Error
          %h5 Please try again
          %p Feel free to contact us if the problem persists
          %a.btn.btn-primary{:href => "#", :role => "button"} Back
          %a.d-block{:href => "#"}
      %div
