-if @reload
  :javascript
    var elements = #{@elements};
    setTimeout(function(){ location.reload(); }, 3000);
  %div#graph_div{:style => "width:100%;height:100%;"}
    %h5 We are building the graph. Please bear with us for a moment...
-else
  %div#i3d_link{title:"Links the selected protein to Interactome3D", style:"position:absolute;right:40px;top:5px;cursor:pointer;z-index:1000000"}
    %img{src:"/interactome3d_logo.png",width:25}
    %form{id:"i3d_form", style:"display:none;", action:"https://interactome3d.irbbarcelona.org/network.php", method:"post", target:"_blank"}
      %input{type:"hidden",name:"connect",value:"True"}
      %input{type:"hidden", id:"dataset", name:"dataset",value:"human"}
      %input{type:"hidden", id:"acc", name:"ids",value:"P01112"}
      %input{type:"hidden",name:"rs",value:"True"}
    :javascript
      if(!top.network_flag)$j("#i3d_link").remove();
      $j("#i3d_link").click(function(){
        var ids = [];
        cytoscape_graph.cy.$(":selected").nodes(function(i,n){
          ids.push(n.id());
        });
        if(ids.length>1){
          if( $j("#cb_prot_list").length == 0 ) $j("#i3d_form").append("<input id=\"cb_prot_list\" name=\"cb_prot_list\" type=\"hidden\" value=\"true\"/>");
        }else{
          if( $j("#cb_prot_list").length > 0 ) $j("#cb_prot_list").remove();
        }
        $j("#acc").attr("value",ids.join(","));
        $j("#dataset").attr("value",top.network_graph.organism);
        $j("#i3d_form").submit();
      });
  %div#graph_div{:style => "width:100%;height:100%;visibility:hidden;"}
    :javascript
      var elements = #{@elements};
  -if @ppi_network
    :javascript
      var ppi_network = #{@ppi_network};
    
