.index1 {
  font-weight:bold;
  font-size:14px;
}

.index1 a{
  color:#074987;
}

.index1 a:visited{
  color:#074987;
}

.index1 a:hover{
  color:#96C8C8;
  cursor:pointer;
}

.index2 {
  font-size:14px;  
  font-weight:normal;
}

.index2 a{
  color:#074987;
}

.index2 a:visited{
  color:#074987;
}

.index2 a:hover{
  color:#96C8C8;
  cursor:pointer;
}

.index3 {
  font-size:14px;
  margin-left:60px;
  margin-top:10px;
  margin-bottom:10px;
  font-weight:normal;
}

.index3 a{
  color:#074987;
}

.index3 a:visited{
  color:#074987;
}

.index3 a:hover{
  color:#96C8C8;
  cursor:pointer;
}

.section{
  font-size:20px;
  font-weight:bold;
  margin:20 0 10 0;
}

.section_text{
  font-size:16px;
  padding-left:2%;
  padding-right:40%;
  line-height:2;
  text-align:justify;
  margin-bottom:50px;
}

.section_image{
  margin-top:25px;
  position:relative;
  margin-bottom:30px;
}

.section_image img{
  width:100%;
}

.section_image .legend {
  position:absolute;
  right:0%;
}

.section_text a{
  color:#074987;
}

.section_text a:visited{
  color:#074987;
}

.section_text a:hover{
  color:#96C8C8;
  cursor:pointer;
}

/* --- CARD Styles --- */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.card_column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.card_row {margin: 0 -5px;}

/* Clear floats after the columns */
.card_row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 25px;
  text-align: center;
  background-color: #f1f1f1;
  font-size: 12pt;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .card_column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Dashed border */
hr.dashed {
  border-top: 3px dashed #bbb;
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #bbb;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}


.cv_prot_list {
  width:75%;
  margin-top:20px;
  margin-bottom:50px;
  margin-left:auto;
  margin-right:auto;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:18px;
  color:#606060;
  position:relative;
}

.cv_upper_content, .cv_mid_content, .cv_lower_content {
  width:80%;
  margin-top:20px;
  margin-bottom:50px;
  margin-left:auto;
  margin-right:auto;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:18px;
  color:#606060;
  position:relative;
}

.model_img {
  padding:16px;
  width:150px
}
