.w3-dark-gray {
  background-color: #2a2a2a;
}

.w3-gray {
  background-color: #575757;
}

.w3-link {
  margin-top: 18px;
  color: #268BBE;
}

.w3-blue-gray {
  background-color: #607d8b;
}

.w3-white {
  background-color: #ffffff;
}

.w3-cyan {
  background-color: #00bcd4;
}

.w3-lime {
  background-color: #cddc39;
}

.w3-blue {
  background-color: #2196F3;
}

.w3-brown {
  background-color: #795548;
}

.w3-turq {
  background-color: #009688;
}

.w3-green {
  background-color: #4CAF50;
}

.w3-amber {
  background-color: #ffc107;
}

.w3-purple {
  background-color: #9c27b0;
}

.w3-orange {
  background-color: #ff9800;
}

.w3-red {
  background-color: #f44336;
}

.w3-gradient {
  /*Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#484848+0,ffc107+32,ff9800+69,7db9e8+100 */background: #484848;
  /* Old browsers */background: -moz-linear-gradient(left,  #484848 0%, #ffc107 32%, #ff9800 69%, #7db9e8 100%);
  /* FF3.6-15 */background: -webkit-linear-gradient(left,  #484848 0%,#ffc107 32%,#ff9800 69%,#7db9e8 100%);
  /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to right,  #484848 0%,#ffc107 32%,#ff9800 69%,#7db9e8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484848', endColorstr='#7db9e8',GradientType=1 );
}

#proteomeTable {
  overflow-x: auto;
  display: block;
}

#proteomeTable td {
  border: 3px solid white !important;
  color: rgb(255,255,255) !important;
  padding: 9px;
  text-align: center;
  vertical-align: middle;
}

.badge.badge-primary.proteomeBadge.w3-lime {
}

#proteomeTable a, #proteomeTable a:hover {
  color: #fff;
  text-decoration: initial;
  font-weight: 700;
  white-space: nowrap;
}

.proteomeBadge {
  padding: 6px 12px;
  font-size: 14px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  margin: 3px 2px;
}

.proteinBadge {
  padding: 6px 12px;
  font-size: 14px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  margin: 2px 0px;
}

.proteinBox .description {
  font-style: italic;
  font-size: 14px;
  font-weight: 100;
}

.proteinBox h5 {
  margin: 5px 0px 8px;
}

.proteinBox p {
  margin-bottom: 2px;
}

