
.icon-light-up:before { content: '\e800'; } /* '' */
.icon-right-bold:before { content: '\e801'; } /* '' */
.icon-left-bold:before { content: '\e802'; } /* '' */
.icon-ccw:before { content: '\e803'; } /* '' */
.icon-target:before { content: '\e804'; } /* '' */
.icon-eye-off:before { content: '\e805'; } /* '' */
.icon-th-list:before { content: '\e806'; } /* '' */
.icon-camera:before { content: '\e807'; } /* '' */
.icon-box:before { content: '\e808'; } /* '' */