%div
  %table#proteomeTable.table
    %tbody
      %tr
        %td.w3-dark-gray.w3-center{:colspan => "11"}
          .index1
            %a{:href => "#R1a"} R1a
      %tr
        %td.w3-gray{:rowspan => "2"}
          .index2
            %a{:href => "#NSP1"} NSP1
        %td.w3-gray{:rowspan => "2"}
          .index2
            %a{:href => "#NSP2"} NSP2
        %td.w3-blue-gray{:rowspan => "2"}
          .index2
            %a{:href => "#NSP3"} PL-Pro
        %td.w3-gray{:rowspan => "2"}
          .index2
            %a{:href => "#NSP4"} NSP4
        %td.w3-blue-gray{:rowspan => "2"}
          .index2
            %a{:href => "#NSP5"} 3CL
        %td.w3-gray{:rowspan => "2"}
          .index2
            %a{:href => "#NSP6"} NSP6
        %td.w3-gray{:rowspan => "2"}
          .index2
            %a{:href => "#NSP7"} NSP7
        %td.w3-gray{:rowspan => "2"}
          .index2
            %a{:href => "#NSP8"} NSP8
        %td.w3-gray{:rowspan => "2"}
          .index2
            %a{:href => "#NSP9"} NSP9
        %td.w3-gray{:rowspan => "2"}
          .index2
            %a{:href => "#NSP10"} NSP10
        %td.w3-gray{:rowspan => "2"}
          .index2
            %a{:href => "#NSP11"} NSP11
        %td.w3-tag.w3-white{:colspan => "5"}
        %td.w3-tag.w3-cyan
          .index2
            %a{:href => "#S"} S
        %td.w3-tag.w3-white{:colspan => "2"}
        %td.w3-tag.w3-lime
          .index2
            %a{:href => "#M"} M
        %td.w3-tag.w3-white
        %td.w3-tag.w3-blue
          .index2
            %a{:href => "#ORF7a"} ORF7a
        %td.w3-tag.w3-white
        %td.w3-tag.w3-brown
          .index2
            %a{:href => "#ORF8"} ORF8
        %td.w3-tag.w3-white
        %td.w3-tag.w3-green
          .index2
            %a{:href => "#N"} N
      %tr
        %td.w3-gray
          .index2
            %a{:href => "#NSP12"} NSP12
        %td.w3-gray
          .index2
            %a{:href => "#NSP13"} NSP13
        %td.w3-gray
          .index2
            %a{:href => "#NSP14"} NSP14
        %td.w3-gray
          .index2
            %a{:href => "#NSP15"} NSP15
        %td.w3-gray
          .index2
            %a{:href => "#NSP16"} NSP16
        %td.w3-tag.w3-white
        %td.w3-tag.w3-amber
          .index2
            %a{:href => "#ORF3a"} ORF3a
        %td.w3-tag.w3-purple
          .index2
            %a{:href => "#E"} E
        %td.w3-tag.w3-white
        %td.w3-tag.w3-orange
          .index2
            %a{:href => "#ORF6"} ORF6
        %td.w3-tag.w3-white
        %td.w3-tag.w3-orange
          .index2
            %a{:href => "#ORF7b"} ORF7b
        %td.w3-tag.w3-white
        %td.w3-tag.w3-orange
          .index2
            %a{:href => "#ORF9b"} ORF9b
        %td.w3-tag.w3-white
        %td.w3-tag.w3-orange
          .index2
            %a{:href => "#ORF14"} ORF14
        %td.w3-tag.w3-white
        %td.w3-tag.w3-red
          .index2
            %a{:href => "#ORF10"} ORF10
      %tr
        %td.w3-dark-gray.w3-center{:colspan => "16"}
          .index1
            %a{:href => "#R1ab"} R1ab
