// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

protvista-tooltip table.tooltip {
    position: revert;
    display: revert;
    line-height: normal;
    opacity: revert;
}