.title {
    font-weight: bold;
    margin-bottom: 15px;
    color: #123546;
}

.actions {
    display: flex;
    justify-content: right;
    align-content: stretch;
}

.section {
    padding: 20px;
}
