.menu {
    z-index: 100;
}

.menu .MuiPaper-root {
    background-color: #e2e2e2 !important;
    margin-top: 10px;
    max-height: 500px;
    overflow-y: auto;
}

.menu .MuiListItem-button:hover {
    text-decoration: none;
    color: #fff;
    background-color: #133546 !important;
}
