body {
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

button {
    font-weight: 700;
    padding: 6px 10px;
    margin-left: 10px;
    color: #ffffff;
    background-color: #123546;
    border-radius: 8px;
    border: solid 0px #123546;
    outline: none;
    cursor: pointer;
}

button::hover,
button::active,
button::focus {
    cursor: pointer;
    background-color: #268bbe;
    border: solid 0px #268bbe;
}

#contents {
    position: absolute;
    left: 0px;
    width: 45%;
    height: 100%;
    border: 1px solid rgb(77, 77, 77);
}

header {
    max-height: 85px;
}

#viewer {
    display: flex;
    /*
     * For development purposes the line below can be uncommented and comment the next one,
     * but on prod, the other lines needs to be because we have the header (85px) and if 100vh is present,
     * we will have doble scroll.
     */
    /* height: 100vh; */
    height: calc(100vh - 85px);
}

#left {
    flex-grow: 1;
    position: relative;
}

#right {
    height: 100%;
    overflow-y: scroll;
}

#right > div {
    overflow: auto;
}

.contents {
    margin-bottom: 10px;
}

.MuiPaper-root {
    background-color: inherit !important;
}

.MuiDialogContent-root {
    background-color: #fff;
}

.react-resizable {
    position: relative;
    overflow-y: hidden;
}

.react-resizable-handle {
    position: absolute;
    width: 3px;
    height: 100%;
    box-sizing: border-box;
    background-color: inherit;
}

.react-resizable-handle-sw {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
}

.react-resizable-handle-se {
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.react-resizable-handle-nw {
    top: 0;
    left: 0;
    cursor: nw-resize;
}

.react-resizable-handle-ne {
    top: 0;
    right: 0;
    cursor: ne-resize;
}

.react-resizable-handle-w,
.react-resizable-handle-e {
    top: 0;
    cursor: ew-resize;
}

.react-resizable-handle-w {
    left: 0;
}

.react-resizable-handle-e {
    right: 0;
}

.react-resizable-handle-n,
.react-resizable-handle-s {
    left: 0;
    cursor: ns-resize;
}

.react-resizable-handle-n {
    top: 0;
}

.react-resizable-handle-s {
    bottom: 0;
}
