%header.covid19Header.d-flex.align-items-center
  .container.text-center.text-sm-center.text-md-center.text-lg-left.text-xl-left
    %img#mainLogoCovid19{:src => "/assets/3DBionotes-Logo-CoVid-19-revisited.jpg"}/
    #partnersCovid19.d-inline-block.float-lg-right.float-xl-right
      .row
        .col
          %img.partnerLogo{:src => "/assets/80_Ministerio_de_Ciencia_e_Innovacion.jpg"}/
          %img.partnerLogo{:src => "/assets/100_CSIC.jpg", :style => "width: 120px;"}/
          %img.partnerLogo{:src => "/assets/CNB_logo-30fc3586b103c993eeacd7d1f9a0d02dbd445703f5ab29e8cc9e26a48d35ad0d.jpg", :style => "width: 90px;"}/
      .row
        .col
          %img.partnerLogo{:src => "/assets/2020_03_15_No_23-uuuuhh.jpg", :style => "width: 100px;"}/
          %img.partnerLogo{:src => "/assets/inbelixir.png"}/
          %img.partnerLogo{:src => "/assets/instruct-eric-logo-noline.png"}/
