%p.footer
  %a{:href => "http://biocomputingunit.es"}
    Biocomputing Unit
  \-
  %a{:href => "http://www.cnb.csic.es/index.php/en/"}
    CNB
  \-
  %a{:href => "http://www.csic.es/web/guest/home"}
    CSIC
%p.footer
  Please, submit suggestions, comments and bug reports to...
