#mainFooter.bg-primary.footer-dark
  %footer
    .container.text-center
      .row
        .col
          %h4
            %strong
              3DBIONOTES-<em>WS</em>
            %br/
          %p
            %strong An ELIXIR Recommended Interoperability Resource
            %br/
            %a{:href => "https://drive.google.com/file/d/1mpHVIoblHdUw4zyu7jxdi-PDCQzB6C9Y/view?usp=sharing", :target => "_blank"} Terms of Use
          .footerLinks
            %p
              %a{:href => "http://biocomputingunit.es"}> Biocomputing Unit
              &nbsp;@
              %a{:href => "http://www.cnb.csic.es/index.php/en"} CNB
              %span -
              %a{:href => "http://www.csic.es/en"} CSIC
          %p
            %strong 3DBIONOTES web-server was developed and is maintained at the Biocomputing Unit - CNB
            %br/
            %strong Citing the web-server 
            %a{:href => "https://doi.org/10.1093/bioinformatics/btz118", :target => "_blank"}
              %i.fa.fa-external-link.margin
            %strong Contact Us 
            %a{:href => "mailto:3dbionotes@cnb.csic.es", :target => "_blank"}
              %i.fa.fa-envelope.margin
            %br/
