#mainFooter.bg-primary.footer-dark
  %footer
    .container.text-center
      .row
        .col
          %h4
            %strong
              3DBIONOTES-<em>WS</em>
            %br/
          %p
            %strong An ELIXIR Recommended Interoperability Resource
            %br/
          .footerLinks
            %p
              %a{:href => "#"}> Biocomputing Unit
              &nbsp;@
              %a{:href => "#"} CNB
              %span -
              %a{:href => "#"} CSIC
          %p
            %strong 3DBIONOTES web-server was developed and is maintained at the Biocomputing Unit - CNB
            %br/
            %strong Citing the web-server 
            %a{:href => "https://doi.org/10.1093/bioinformatics/btx483", :target => "_blank"}
              %i.fa.fa-external-link
            %br/
