%header
  %nav#Navbar.navbar.navbar-light.navbar-expand-md.text-sm-center.d-flex
    .container-fluid
      #Logo.d-flex
        %a.navbar-brand{:href => ws_path}
          %img{:height => "72", :src => "/assets/3DBionotesLogo-small.jpg", :style => "height: auto;width: 260px;"}/
        %button.navbar-toggler{"data-target" => "#navcol-1", "data-toggle" => "collapse"}
          %span.sr-only Toggle navigation
          %span.navbar-toggler-icon
        #navcol-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.nav-item.d-xl-flex.align-items-xl-center{:style => "width: auto;"}
              #viewerMenuButton.nav-item.dropdown.btn-primary.mr-4{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :style => "margin-right: 0px;margin-left: 0px;", :type => "button"}
                %a.dropdown-toggle.active{"aria-expanded" => "false", :href => "#"} MENU
              .dropdown-menu
                %a.dropdown-item.active{:href => ws_path} HOME
                %a.dropdown-item{:href => ws_covid19_path} CoVid-19
                %a.dropdown-item{:href => ws_viewer_path} VIEWER
      #Slogan.text-center.text-sm-center.text-md-center.text-lg-left.text-xl-left.d-sm-block.flex-grow-1
        %span#viewerSlogan
          An ELIXIR Recommended Interoperability Resource
          %br>/
      #partnersLogos.align-items-center
        %span Funded by:
        %img{:height => "65", :src => "/assets/100_CSIC.jpg"}/
        %img{:height => "45", :src => "/assets/CNB_logo-30fc3586b103c993eeacd7d1f9a0d02dbd445703f5ab29e8cc9e26a48d35ad0d.jpg"}/
        %img{:height => "44", :src => "/assets/instruct-eric-logo-noline.png", :style => "margin-left: 19px;"}/
        %img{:height => "53", :src => "/assets/inbelixir.png", :style => "margin-left: 24px;"}/
